@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #000000;
  margin: 0;
}

.container {
  background-color: #ffffff;
  margin: 0 auto;
  width: 1232px;
}

.container-catalog {
  background-color: #ffffff;
  margin: 0 auto;
  width: 1200px;
}

/*
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
*/

/* Header */

.page-header {
  background-color: #ffffff;
  display: flex;
}

.page-header-logo-link {
  margin-left: 70px;
}

.navigation {
  display: flex;
  width: 962px;
  margin: 0 auto;
  margin-left: 30px;
  margin-right: 102px;
}

.navigation-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-item {
  margin: 20px 16px;
}

.navigation-user {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.navigation-user-item {
  margin: 22px 12px;
}

.navigation-link, .navigation-user-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  text-align: center;
}

.navigation-user-count {
  background-color: #7DB54F;
  color: #ffffff;
  font-size: 10px;
  line-height: 10px;
  padding: 5px 5px 5px 4px;
  border-radius: 50%;
}

.header-button {
  padding: 8px 34px;
  margin: 14px 0 14px 20px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
}

/* Main */

.main-index {
  background-color: #ffffff;
}

.hero {
  background-image: url("../images/divider.svg"), url("../images/hero-background.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom, left top;
  margin-bottom: 69px;
  margin-left: 32px;
  background-color: #e2e7dd;
}

.hero-image {
  display: block;
  padding-top: 51px;
  padding-bottom: 82px;
  margin: 0 auto;
}

.hero-description {
  margin-left: 32px;
}

.hero-description h2, .infrastructure-title, .interest-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  color: inherit;
  text-align: center;
}

.hero-description h2 {
  width: 620px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.hero-description p, .infrastructure-description, .interest-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.hero-description p {
  margin-bottom: 69px;
}

.advantages {
  display: flex;
  flex-wrap: wrap;
  margin-right: 32px;
  margin-bottom: 64px;
}

.advantages-item, .infrastructure-item {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
  text-align: center;
}

.advantages-item h3, .infrastructure-item h3 {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 700;
  width: 172px;
  margin: 0 auto;
  margin-top: 112px;
  margin-bottom: 62px;
}

.advantages-item p {
  color: #333333;
  width: 230px;
  margin: 0 auto;
  margin-bottom: 112px;
}

.advantages-item-road {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-city, .advantages-item-bridge {
  display: flex;
  justify-content: space-between;
  background-color: rgba(131, 179, 211);
  color: #ffffff;
  width: 100%;
}

.advantages-item-city h3, .advantages-item-bridge h3 {
  margin-top: 102px;
}

.advantages-item-city p, .advantages-item-bridge p {
  color: #ffffff;
  margin-bottom: 102px;
}

.advantages-item-city .advantages-item-wrapper {
  margin-left: 85px;
}

.advantages-item-bridge .advantages-item-wrapper {
  order: 1;
  margin-right: 85px;
}

.advantages-image {
  display: block;
}

.infrastructure {
  margin-bottom: 96px;
}

.infrastructure-title {
  width: 505px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.infrastructure-description {
  margin-bottom: 64px;
}

.infrastructure-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.infrastructure-item:nth-child(even) {
  background-color: #ffffff;
}

.infrastructure-item h3 {
  margin-top: 183px;
  margin-bottom: 30px;
}

.infrastructure-item p {
  color: #333333;
  margin: 0 auto;
  width: 230px;
  margin-bottom: 81px;
}

.interest-title {
  margin-bottom: 20px;
}

.interest-description {
  width: 592px;
  margin: 0 auto;
  margin-bottom: 54px;
}

.interest-button {
  display: block;
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  padding: 8px 50px;
  margin: 0 auto;
  margin-bottom: 96px;
}

.subscription {
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  text-align: center;
  margin-right: 32px;
  margin-bottom: 40px;
}

.subscription-title {
  display: inline-block;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  margin-top: 96px;
  margin-bottom: 20px;
}

.subscription-description {
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
  width: 475px;
  margin: 0 auto;
  margin-bottom: 54px;
}

.subscription-email {
  font-family: inherit;
  font-size: inherit;
  line-height: 24px;
  background-color: #f2f2f2;
  color: inherit;
  margin-bottom: 104px;
}

.subscription-button, .catalog-button-enter {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
}

/* Footer */

.page-footer {
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
  margin-right: 32px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  margin-left: 70px;
  margin-right: 70px;
}

.contacts-social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 142px;
  display: flex;
  justify-content: space-between;
}

.contacts-social-item {
  margin: 12px;
}

.contacts-social-item a {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #83B3D3;
  text-decoration: none;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color: inherit;
  text-decoration: none;
  margin-left: 75px;
}

/* Catalog filter */

.catalog-header {
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffffff;
}

.catalog-header-title {
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  font-weight: 700;
}

.breadcrumbs-link {
  font-style: 16px;
  line-height: 21px;
  color: #ffffff;
  font-weight: inherit;
  text-decoration: none;
}

.catalog-filter-group {
  border: none;
}

.catalog-filter-title {
  font-style: 20px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 700;
}

.catalog-filter-item {
font-style: 16px;
line-height: 21px;
color: #ffffff;
font-weight: inherit;
}

.catalog-button-default {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
}

.control {
  font-style: 18px;
  line-height: 24px;
  color: inherit;
  font-weight: inherit;
}

.control-input {
  font-style: 18px;
  line-height: 24px;
  color: inherit;
  font-weight: 700;
}

/* Hotel cards */

.catalog-sort {
  background-color: #ffffff;
}

.catalog-products-number {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  color: inherit;
}

.select-control {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background-color: #ffffff;
  color: #333333;
}

.cheap {
  font-style: 18px;
  line-height: 21px;
  color: #333333;
  font-weight: inherit;
}

.sort-item {
  margin: 12px;
}

.sort-link {
  text-decoration: none;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 2px;
}

.sort.visually-hidden {
  font-style: 18px;
  line-height: 21px;
  font-weight: inherit;
  color: #000000;
}

.sort-active {
  border: 2px solid #000000;
}

.product-cards, .pagination {
  background-color: #ffffff;
}

.product-card {
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.product-card-title {
  font-style: 24px;
  line-height: 28px;
  color: inherit;
  font-weight: 700;
}

.product-card-link {
  text-decoration: none;
  color: inherit;
}

.product-price-name, .product-price-value {
  color: #333333;
}

.product-button-more {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
}

.product-button-favorite {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
}

.product-button-favorite-active {
  background-color: #7DB54F;
}

.product-card-rating {
  display: inline-block;
  background-color: #f2f2f2;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: #333333;
  padding: 9px 22px 8px 23px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  background-color: #82B3D3;
  color: #ffffff;
  border-radius: 4px;
  border: none;
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-link-crumbs {
  font-size: 22px;
  line-height: 26px;
  font-weight: normal;
  background-color: #ffffff;
  color: #000000;
}

.subscription-catalog {
  background-image: none;
  background-color: #ffffff;
}

.subscription-title-catalog {
  color: #000000;
}

.subscription-description-catalog {
  color: #333333;
}

.subscription-email-catalog {
  background-color: #f2f2f2;
  border: none;
}
